<!DOCTYPE html>
<html>
<head>
  <title>Food Ordering App - Available Restaurants</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <style>
    body {
      background-color:lightblue;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-5">Available Restaurants</h1>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Restaurant Name</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for restaurant in restaurants %}
        <tr>
          <td>{{ restaurant[0] }}</td>
          <td>{{ restaurant[1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
